In [29]:
import pyarrow.csv as pv
import pyarrow.parquet as pq
import pandas as pd
import nltk
from textblob import TextBlob

In [30]:
df_business = pd.read_parquet("../Data/data_procesada/restaurantes_unificados.parquet")
df_business

,name,state,city,postal_code,latitude,longitude,stars,review_count,price_numeric,categories,restaurant_id
0,San Soo Dang,California,Los Angeles,90005,34.058092,-118.292130,4.4,18,0,Korean restaurant,0x80c2c778e3b73d33:0xbdc58662a4a97d49
1,Vons Chicken,California,La Mirada,90638,33.916402,-118.010855,4.5,18,0,Restaurant,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42
2,Oneyda's Bakery,Florida,Naples,34102,26.154754,-81.790528,4.6,19,1,"Bakery, Deli",0x88dae191ee505917:0x6ba3e25388d3fad4
3,La Potranca,California,Los Angeles,90066,34.000181,-118.441249,4.2,13,0,Restaurant,0x80c2baf50d29bf63:0x5bd904b842b9fcc
4,Raffaello Kosher Pizza,New_York,New York,10036,40.756872,-73.980427,3.4,8,0,Restaurant,0x89c258ffaeaba947:0x8355860772a595a9
...,...,...,...,...,...,...,...,...,...,...,...
31756,Sage Mediterranean,Pennsylvania,Phoenixville,19460,40.134042,-75.514528,4.0,118,0,Restaurants,150260
31757,Rustica Restaurant Pizzera,Pennsylvania,New Hope,18938,40.346275,-75.035753,3.0,21,0,Pizza,150273
31758,Ali Baba Magic Food,Pennsylvania,Philadelphia,19104,39.953391,-75.196765,4.0,8,0,Restaurants,150287
31759,Pizza Guru,California,Santa Barbara,93105,34.440689,-119.739681,4.0,299,0,Restaurants,150290
31760,The Plum Pit,Pennsylvania,Aston,19014,39.856185,-75.427725,4.5,14,0,Restaurants,150339

In [31]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31761 entries, 0 to 31760
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           31761 non-null  object
 1   state          31761 non-null  object
 2   city           31761 non-null  object
 3   postal_code    31761 non-null  int64
 4   latitude       31761 non-null  float64
 5   longitude      31761 non-null  float64
 6   stars          31761 non-null  float64
 7   review_count   31761 non-null  int64
 8   price_numeric  31761 non-null  int64
 9   categories     31761 non-null  object
 10  restaurant_id  31761 non-null  object
dtypes: float64(3), int64(3), object(5)
memory usage: 2.7+ MB

In [32]:
df_reviews = pd.read_parquet("../Data/data_procesada/reviews_unificadas.parquet")
df_reviews

,user_id,user_name,year,month,day,hour,rating,text,restaurant_name,state,city,restaurant_id
0,109434968607034492648,Tony Pinto,2013,11,18,14:03:54.547,5,I came by yesterday to pick up some pizza on t...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9
1,108584493264435262292,Benji,2015,2,17,22:27:28.498,1,Food was burnt and not good. You would think s...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9
2,108987049306954366378,Michael Rahmani,2014,12,30,22:43:47.508,1,This place is horrible. I ordered two ziti piz...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9
3,107767094884093007779,eliau piha,2014,7,6,23:26:13.836,5,Love their pizza and their service!\nREALLY IT...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9
4,107373453968933712290,Matt Schaffnit,2016,10,25,08:30:54.4,5,Used to get lunch here nearly every day. You w...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9
...,...,...,...,...,...,...,...,...,...,...,...,...
2544116,295006,user295006,2020,1,13,04:21:38,4,I decided to try this place out after Christma...,Tinsel,Pennsylvania,Philadelphia,147605
2544117,198836,user198836,2007,7,27,20:12:11,4,South Street Diner isn't the best of Philly Di...,South Street Diner,Pennsylvania,Philadelphia,148647
2544118,198836,user198836,2017,2,23,19:11:04,4,When I first heard that the Peace A Pizza (htt...,Snap Custom Pizza - Center City,Pennsylvania,Philadelphia,143172
2544119,24243,user24243,2014,11,3,14:45:46,3,"*Later Yelp* I've only been here once, but I l...",Pod,Pennsylvania,Philadelphia,141961
2544120,823973,user823973,2022,1,18,06:42:59,1,Just average Thai food tonight. Bangkok has al...,Bangkok Cuisine,Nevada,Reno,148461

In [33]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544121 entries, 0 to 2544120
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          object
 1   user_name        object
 2   year             int32
 3   month            int32
 4   day              int32
 5   hour             object
 6   rating           int64
 7   text             object
 8   restaurant_name  object
 9   state            object
 10  city             object
 11  restaurant_id    object
dtypes: int32(3), int64(1), object(8)
memory usage: 203.8+ MB

In [34]:
df_business = df_business.drop(columns=['postal_code', 'latitude', 'longitude', 'price_numeric'])

In [35]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Manuel\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Manuel\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Manuel\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [36]:
def analizar_sentimiento(texto):
    blob = TextBlob(texto)
    sentimiento = blob.sentiment.polarity
    return sentimiento

In [37]:
df_reviews['sentimiento'] = df_reviews['text'].apply(analizar_sentimiento)

In [38]:
df_reviews

,user_id,user_name,year,month,day,hour,rating,text,restaurant_name,state,city,restaurant_id,sentimiento
0,109434968607034492648,Tony Pinto,2013,11,18,14:03:54.547,5,I came by yesterday to pick up some pizza on t...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,0.377778
1,108584493264435262292,Benji,2015,2,17,22:27:28.498,1,Food was burnt and not good. You would think s...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,0.023636
2,108987049306954366378,Michael Rahmani,2014,12,30,22:43:47.508,1,This place is horrible. I ordered two ziti piz...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,-0.024444
3,107767094884093007779,eliau piha,2014,7,6,23:26:13.836,5,Love their pizza and their service!\nREALLY IT...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,0.437500
4,107373453968933712290,Matt Schaffnit,2016,10,25,08:30:54.4,5,Used to get lunch here nearly every day. You w...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,0.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2544116,295006,user295006,2020,1,13,04:21:38,4,I decided to try this place out after Christma...,Tinsel,Pennsylvania,Philadelphia,147605,0.343182
2544117,198836,user198836,2007,7,27,20:12:11,4,South Street Diner isn't the best of Philly Di...,South Street Diner,Pennsylvania,Philadelphia,148647,0.399148
2544118,198836,user198836,2017,2,23,19:11:04,4,When I first heard that the Peace A Pizza (htt...,Snap Custom Pizza - Center City,Pennsylvania,Philadelphia,143172,0.221779
2544119,24243,user24243,2014,11,3,14:45:46,3,"*Later Yelp* I've only been here once, but I l...",Pod,Pennsylvania,Philadelphia,141961,0.277083
2544120,823973,user823973,2022,1,18,06:42:59,1,Just average Thai food tonight. Bangkok has al...,Bangkok Cuisine,Nevada,Reno,148461,-0.103947

In [39]:
# Selecciona las columnas 'restaurant_id' y 'rating'
df_selected = df_reviews[['restaurant_id', 'rating', 'sentimiento']]

# Agrupa por 'restaurant_id' y 'rating', luego calcula la media de 'sentimiento'
analisis_por_estrellas = df_selected.groupby(['restaurant_id', 'rating'])['sentimiento'].mean().reset_index()

In [40]:
analisis_por_estrellas

                                restaurant_id  rating  sentimiento
0       0x1412b9bc07e0629f:0x74d6780ff8512499       1    -0.201010
1       0x1412b9bc07e0629f:0x74d6780ff8512499       2     0.000000
2       0x1412b9bc07e0629f:0x74d6780ff8512499       3     0.121535
3       0x1412b9bc07e0629f:0x74d6780ff8512499       4     0.288333
4       0x1412b9bc07e0629f:0x74d6780ff8512499       5     0.103580
...                                       ...     ...          ...
131682                                  99993       1    -0.143792
131683                                  99993       2    -0.165184
131684                                  99993       3     0.117545
131685                                  99993       4     0.298462
131686                                  99993       5     0.342145

[131687 rows x 3 columns]

In [44]:
def escalar_sentimiento(sentimiento):
    # Escalar el sentimiento de -1 a 1 a un rango de 1 a 10
    sentimiento_escalado = (sentimiento + 1) * 5
    return sentimiento_escalado

In [42]:
df_reviews['sentimiento_escalado'] = df_reviews['sentimiento'].apply(escalar_sentimiento)

In [27]:
df_reviews = df_reviews.groupby(['restaurant_id', 'rating'])['sentimiento_escalado'].mean().reset_index()

In [43]:
df_reviews

,user_id,user_name,year,month,day,hour,rating,text,restaurant_name,state,city,restaurant_id,sentimiento,sentimiento_escalado
0,109434968607034492648,Tony Pinto,2013,11,18,14:03:54.547,5,I came by yesterday to pick up some pizza on t...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,0.377778,6.888889
1,108584493264435262292,Benji,2015,2,17,22:27:28.498,1,Food was burnt and not good. You would think s...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,0.023636,5.118182
2,108987049306954366378,Michael Rahmani,2014,12,30,22:43:47.508,1,This place is horrible. I ordered two ziti piz...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,-0.024444,4.877778
3,107767094884093007779,eliau piha,2014,7,6,23:26:13.836,5,Love their pizza and their service!\nREALLY IT...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,0.437500,7.187500
4,107373453968933712290,Matt Schaffnit,2016,10,25,08:30:54.4,5,Used to get lunch here nearly every day. You w...,Raffaello Kosher Pizza,New_York,New York,0x89c258ffaeaba947:0x8355860772a595a9,0.100000,5.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2544116,295006,user295006,2020,1,13,04:21:38,4,I decided to try this place out after Christma...,Tinsel,Pennsylvania,Philadelphia,147605,0.343182,6.715909
2544117,198836,user198836,2007,7,27,20:12:11,4,South Street Diner isn't the best of Philly Di...,South Street Diner,Pennsylvania,Philadelphia,148647,0.399148,6.995739
2544118,198836,user198836,2017,2,23,19:11:04,4,When I first heard that the Peace A Pizza (htt...,Snap Custom Pizza - Center City,Pennsylvania,Philadelphia,143172,0.221779,6.108893
2544119,24243,user24243,2014,11,3,14:45:46,3,"*Later Yelp* I've only been here once, but I l...",Pod,Pennsylvania,Philadelphia,141961,0.277083,6.385417
2544120,823973,user823973,2022,1,18,06:42:59,1,Just average Thai food tonight. Bangkok has al...,Bangkok Cuisine,Nevada,Reno,148461,-0.103947,4.480263

In [46]:
# Calcular los valores medios de sentimiento y sentimiento_escalado para cada id_business
df_sentimiento_agrupado = df_reviews.groupby('restaurant_id').agg({'sentimiento': 'mean', 'sentimiento_escalado': 'mean'}).reset_index()

In [52]:
df_sentimiento_agrupado

,restaurant_id,sentimiento,sentimiento_escalado
0,0x1412b9bc07e0629f:0x74d6780ff8512499,0.117297,5.586487
1,0x14589e44e1543481:0x488689a13c898c2d,0.332429,6.662146
2,0x1458b9a7e5277055:0xaa1f04cff016d5a7,0.166069,5.830346
3,0x1469047418426e83:0x1ab10483596d44a4,0.330968,6.654838
4,0x146d33172482a8d5:0xfbb922c5d704e3a5,0.291599,6.457996
...,...,...,...
31756,99960,0.266941,6.334704
31757,99963,0.247026,6.235132
31758,99964,0.050584,5.252920
31759,99986,0.118845,5.594227
31760,99993,0.240535,6.202674

In [49]:
# Fusionar los valores medios con el DataFrame df_business
df_business_agrupado = df_reviews.merge(df_sentimiento_agrupado, on='restaurant_id', how='left')

In [50]:
# Eliminar duplicados despuÃ©s de la fusiÃ³n
df_business_agrupado.drop_duplicates(subset=['restaurant_id'], inplace=True)

In [ ]:
df_business_agrupado

In [53]:
df_ml = df_business.merge(df_sentimiento_agrupado[['restaurant_id', 'sentimiento', 'sentimiento_escalado']], on='restaurant_id', how='left')

In [54]:
df_ml

,name,state,city,stars,review_count,categories,restaurant_id,sentimiento,sentimiento_escalado
0,San Soo Dang,California,Los Angeles,4.4,18,Korean restaurant,0x80c2c778e3b73d33:0xbdc58662a4a97d49,0.236582,6.182908
1,Vons Chicken,California,La Mirada,4.5,18,Restaurant,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,0.104659,5.523295
2,Oneyda's Bakery,Florida,Naples,4.6,19,"Bakery, Deli",0x88dae191ee505917:0x6ba3e25388d3fad4,0.413616,7.068080
3,La Potranca,California,Los Angeles,4.2,13,Restaurant,0x80c2baf50d29bf63:0x5bd904b842b9fcc,-0.006845,4.965774
4,Raffaello Kosher Pizza,New_York,New York,3.4,8,Restaurant,0x89c258ffaeaba947:0x8355860772a595a9,0.182894,5.914470
...,...,...,...,...,...,...,...,...,...
31756,Sage Mediterranean,Pennsylvania,Phoenixville,4.0,118,Restaurants,150260,0.332883,6.664414
31757,Rustica Restaurant Pizzera,Pennsylvania,New Hope,3.0,21,Pizza,150273,0.118776,5.593881
31758,Ali Baba Magic Food,Pennsylvania,Philadelphia,4.0,8,Restaurants,150287,0.313325,6.566624
31759,Pizza Guru,California,Santa Barbara,4.0,299,Restaurants,150290,0.278261,6.391303
31760,The Plum Pit,Pennsylvania,Aston,4.5,14,Restaurants,150339,0.353181,6.765904

In [55]:
df_ml.to_parquet("../Data/data_procesada/Data_business_ml.parquet")